.userProfile {
    margin-left: 20px; /* 왼쪽으로부터 20px 만큼 떨어지게 배치 */
  }
  
  .additionalInfo {
    margin-left: 20px; /* 왼쪽으로부터 20px 만큼 떨어지게 배치 */
  }
  .gridUserContainer {
    display: flex;
    justify-content: space-between; /* 요소들을 최대한 왼쪽과 오른쪽으로 배치 */
  }